body {
    font-family: sans-serif;
    background-color: #fff; 
}

.profile-info {
    padding: 20px;
}

.gallery {
    padding: 20px;         
    width: 972px;
}

.gallery-image {
    width: 300px;         
    height: 300px;          
    margin: 5px;            
}
