body {
    font-family: sans-serif;
    background-color: #ffffff;
}

.content {
    width: 600px; 
    padding: 20px;      /* внутренний отступ  */
}

.post {
    background-color: #fff;
    padding: 15px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.username {
    font-weight: bold;
}

.post-image {
    width: 80%;  
}

.post-info {
    padding-top: 10px;
}

.like-button {
    background: none;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px black; 
}

.post-text {
    width: 474px;
    height: 37px;
    color: #222222;
    font-size: 15px;
}

.time {
    font-size: 12px;
    color: gray;
}

.edit-icon {   
    font-size: 18px;    
    color: gray;      
}